<ion-item>
  <ion-label>
    <h1  style="text-align: center;" >ยอดซื้อ</h1>
  </ion-label>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-select  placeholder="เลือกงวดหวย" okText="ตกลง" cancelText="ยกเลิก">
        <ion-select-option selected value="apples">16 พ.ค. 2566</ion-select-option>
        <ion-select-option value="oranges">1 พ.ค. 2566</ion-select-option>
        <ion-select-option value="bananas">16 เม.ย. 2566</ion-select-option>
        <ion-select-option value="bananas">1 เม.ย. 2566</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-select  placeholder="เลือกประเภทหวย" okText="ตกลง" cancelText="ยกเลิก">
        <ion-select-option selected value="apples">2 ตัวบน</ion-select-option>
        <ion-select-option value="oranges">3 ตัวบน</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

<ion-item-group *ngFor="let item of orderList">
  <ion-item-divider style="background-color:rgb(187 247 208);">
    <H2 style="color: black;">{{item.typeLotto}}</H2>
    <!-- <ion-button  id="open-modal" (click)="editType(item)"  expand="block">    <ion-icon name="pencil-outline"></ion-icon></ion-button> -->
  </ion-item-divider>

  <ion-item lines="none" *ngFor="let num of item.numberList">
    <ion-label>เลข</ion-label>
    <ion-label>{{num.number}}</ion-label>
    <ion-label>ยอดซื้อ</ion-label>
    <ion-label>{{num.totalPrice}}.-</ion-label>

  </ion-item>

</ion-item-group>
 <ion-modal  (willDismiss)="onWillDismiss($event)" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">ยกเลิก</ion-button>
        </ion-buttons>
        <ion-title>แก้ไขเลขอั้น</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [disabled]="savebtn" [strong]="true">บันทึก</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <h1  style="text-align: center;" >{{typeNumber}}</h1>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item *ngFor="let item of numEdits">
        <ion-input  style="text-align: left;" type="tel" [maxlength]="digisSelect"  value="{{item}}" placeholder="เลขอั้น" ></ion-input>
      </ion-item>
      <ion-toolbar>

        <ion-buttons slot="primary">
          <ion-button fill="outline" (click)="addline()">
            เพิ่ม
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-content>

  </ng-template>
</ion-modal>

